
display: flex;
flex-direction: row;
front-size: 50px;
border : 3px solid black;
/* gap: 30px; */
}
.eg1{
	width: 200px;
	height: 100px;
	background-color: bura;
}
.eg2{
	width: 200px;
	height: 200px;
	background-color: red;
}
.eg3{
	width: 200px;
	height: 200px;
	background-color: blue
}